*{
    margin: 0cm;
    padding: 0cm;
}
body{
    margin-top: 20vh;
}
table, th, td {
    border: 1px solid black;
}
section{

    height: 80vh;
}
nav{
    height: 20vh;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
}

nav ul{
    padding:0px;
	margin:0px;
	list-style:none;
}

nav ul li{
    display: inline;
}
nav ul li a{
    padding: 2px 10px;
	display: inline-block;
	color: white;
	text-decoration: none;
	border-bottom:3px solid #EDEDED;
}

nav ul li a:hover{
    background-color:#D6D6D6;
	color: #6D6D6D;
	border-bottom:3px solid #EA0000;
}