*{
    margin: 0cm;
    padding: 0cm;
}
html{
    font-size: 62,5%;
    font-family: 'Poppins', sans-serif;
}

body
{
  margin: 0;
  padding: 0;
  background-image: url('../img/planodefundo.png');
  width: 100%;
  font-family: "Avenir Next", "Avenir", sans-serif;
}


nav{
    background-color: #ededed;
    min-height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: right;
    margin: 0;
}
.logo{
    position: fixed;
    top:0;
    right: 10vw;
    height: 12vh;
    width: 12vh;
}
table, th, td {
    border: 1px solid black;
}
section{
    padding-top: 12vh;
}
.botao-voltar-inicio{
    background-color: #ededed;
    border-radius: 50%;
    padding: 10px;
    width: 5vh;
    height: 5vh;
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 1vh;
    right: 1vh;
}
.seta {

    transform: rotate(90deg);
    width: 5vh;
    height: 5vh;
  }

.text-card{
    background-color: #ededed;
    margin: 3vw;
    padding: 3vw;
    min-height: 80vh;
}

.card-title{
    text-align: center;
    margin-bottom: 3vh;
}

.card-text{
    margin: 1vh;
    font-size: 1.2rem;
}

ul, li{
    margin: 1vh;
    font-size: 1.2rem;   
}