*{
    margin: 0cm;
    padding: 0cm;
}

body
{
  margin: 0;
  padding: 0;
  background-image: url('../img/planodefundo.png');
  width: 100%;
  font-family: "Avenir Next", "Avenir", sans-serif;
}


nav{
    background-color: #ededed;
    min-height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    
 }

table, th, td {
    border: 1px solid black;
}
section{
    padding-top: 12vh;
}
.botao-voltar-inicio{
    background-color: #ededed;
    border-radius: 50%;
    padding: 10px;
    width: 5vh;
    height: 5vh;
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 1vh;
    right: 1vh;
}
.seta {

    transform: rotate(90deg);
    width: 5vh;
    height: 5vh;
  }